@import url(../node_modules/normalize.css/normalize.css);
@import url(./_variables.scss);


$main-color: #ff3e79;
$addition-color: #eaeaea;


#app{
    width: 100%;
}

.header{
    display: flex;
    &__nav{
        display: flex;
        gap: 17px;
        &--list{
            list-style-type: none;
            
        }
    }
}

.button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger{
    width: 18px;
    height: 16px;
}