@import "_variables.scss";

html {
  box-sizing: border-box;
}

#app {
  width: 100%;
}

ul {
  padding: 0px;
}
.header {
  display: flex;
  position: relative;
  padding: 0px 16px;

  @media (min-width: 1120px) {
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 17px;
    width: 100%;
    justify-content: space-between;
    &--list {
      list-style-type: none;
      cursor: pointer;
    }
  }
  &__forward--link {
    position: relative;
  }

  &__navigation--buttons {
    display: flex;
    gap: 20px;
  }
}

.button {
  min-width: 40px;
  min-height: 40px;
  border-radius: 100%;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav--leftside {
  display: flex;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
}

.header__action {
  display: none;
  gap: 20px;
  @media (min-width: 768px) {
    display: flex;
  }
}
